<!--
  -- LogContact Page - Allows user to create a new entry in the contacts log.
  -- New users and contacts can be created from the selector widgets as well.
  -->

<template>
  <q-page padding class="full-width">
    <div class="text-h2 text-center q-py-lg">Log a Contact</div>
    <q-form>
      <div class="row q-gutter-lg q-mb-lg nowrap">
        <div class="col-2"></div>
        <PersonSelector
          :store="usersStore"
          :person-type="PersonRole.USER"
          v-model:selection="selectedUser"
        ></PersonSelector>
        <PersonSelector
          :store="contactsStore"
          :person-type="PersonRole.CONTACT"
          v-model:selection="selectedContact"
        ></PersonSelector>
        <div class="col-2"></div>
      </div>
      <div class="row q-gutter-lg">
        <div class="col-2"></div>
        <div class="col-8">
          <q-editor
            v-model="entryContent"
            flat
            content-class="bg-yellow-2"
            toolbar-text-color="white"
            toolbar-bg="accent"
            class="col-8 q-pl-lg"
          ></q-editor>
        </div>
      </div>
      <div class="row q-gutter-lg q-ma-lg">
        <div class="col-5"></div>
        <div class="col-2">
          <q-btn
            class="full-width"
            label="Save Entry"
            :disabled="!isSubmittable"
            @click="saveEntry"
          ></q-btn>
        </div>
      </div>
    </q-form>
  </q-page>
</template>

<script lang="ts">
import { inject } from "vue";
import { Options, Vue } from "vue-class-component";
import { contactsStore, usersStore } from "@/store";
import { EntryService } from "@/services";
import { Person, PersonRole } from "@/models/person";
import { Entry } from "@/models/entry";
import PersonSelector from "@/components/PersonSelector.vue";

@Options({
  name: "LogContact",
  components: { PersonSelector },
})
export default class LogContact extends Vue {
  PersonRole = PersonRole;
  entryContent: string | null = "";
  selectedUser: Person | null = null;
  selectedContact: Person | null = null;

  usersStore = usersStore;
  contactsStore = contactsStore;

  entryService?: EntryService = inject("entryService");

  get isSubmittable(): boolean {
    return (
      this.entryContent !== null &&
      this.entryContent !== "" &&
      this.selectedUser !== null &&
      this.selectedContact !== null
    );
  }

  async saveEntry(): Promise<void> {
    if (this.isSubmittable) {
      const newEntry: Partial<Entry> = {
        content: this.entryContent !== null ? this.entryContent : undefined,
        user: this.selectedUser !== null ? this.selectedUser : undefined,
        contact: this.selectedContact ? this.selectedContact : undefined,
      };

      let created = await this.entryService?.createOne(newEntry);
      if (created) {
        this.$q.notify("Contact notes saved successfully.");
        this.entryContent = "";
      } else {
        this.$q.notify("Error saving contact notes.");
      }
    }
    return;
  }
}
</script>

<style lang="scss"></style>
