<!--
  -- ViewNotes Component
  --
  -- Displays selection options for Canvasser and Contact, and
  -- upon selection updates the entriesStore with matching entries.
  -->

<template>
  <q-page padding class="full-width">
    <div class="text-h2 text-center q-py-lg">View Notes</div>
    <div class="column full-width">
      <div class="col-8 q-ma-lg">
        By Canvasser:
        <PersonSelector
          class="col-8"
          :store="usersStore"
          :person-type="PersonRole.USER"
          v-model:selection="selectedUser"
          :allow-create="false"
          v-on:update:selection="updateView"
        ></PersonSelector>
      </div>
      <div class="col-8 q-pa-lg">
        By Contact:
        <PersonSelector
          class="col-8"
          :store="contactsStore"
          :person-type="PersonRole.CONTACT"
          v-model:selection="selectedContact"
          :allow-create="false"
          v-on:update:selection="updateView"
        ></PersonSelector>
      </div>
      <NotesLog />
    </div>
  </q-page>
</template>

<script lang="ts">
import { Vue, Options } from "vue-class-component";
import { Person, PersonRole } from "@/models/person";
import { contactsStore, entriesStore, usersStore } from "@/store";
import { EntryService } from "@/services";
import { inject } from "vue";
import PersonSelector from "@/components/PersonSelector.vue";
import NotesLog from "@/components/NotesLog.vue";

@Options({
  name: "ViewNotes",
  components: { NotesLog, PersonSelector },
})
export default class ViewNotes extends Vue {
  usersStore = usersStore;
  contactsStore = contactsStore;
  entriesStore = entriesStore;

  PersonRole = PersonRole;

  selectedContact: Person | null = null;
  selectedUser: Person | null = null;

  entryService?: EntryService = inject("entryService");

  /**
   * Queries the entry service for the list of contacts matching the selected
   * canvasser and/or contact.
   */
  async updateView(): Promise<void> {
    if (this.selectedContact || this.selectedUser) {
      const query: Record<string, string> = {};
      if (this.selectedContact) {
        query.contact = this.selectedContact.id;
      }
      if (this.selectedUser) {
        query.user = this.selectedUser.id;
      }
      this.entriesStore.setEntries(
        (await this.entryService?.fetchMany(query)) ?? []
      );
    } else {
      this.entriesStore.setEntries([]);
    }
  }
}
</script>

<style lang="scss"></style>
