<!--
  -- CreatePersonDialog Component - Dialog component to handle creating a new
  -- user.
  --
  -- @prop personService PersonService - The injected person service to use for
  --                                     creating the new user.
  -- @prop personRole PersonRole - The type of person to create.
  -->

<template>
  <q-dialog ref="dialog" @hide="onHide">
    <q-card bordered square>
      <q-form @submit="onOK">
        <q-card-section text-color="accent" class="bg-secondary text-h5"
          >Create a New
          {{
            personRole === PersonRoles.CONTACT ? "Contact" : "Canvasser"
          }}</q-card-section
        >
        <q-card-section>
          <div class="column">
            <q-input label="First Name" v-model="firstName" />
            <q-input label="Last Name" v-model="lastName" />
            <q-input
              label="E-Mail Address"
              v-model="email"
              :rules="[
                (val) => isEmail(val) || 'Must be a valid email address.',
              ]"
            />
          </div>
        </q-card-section>
        <q-card-actions align="right">
          <q-btn
            color="secondary"
            text-color="accent"
            label="Cancel"
            @click="onCancel"
          />
          <q-btn color="primary" type="submit" label="Save" />
        </q-card-actions>
      </q-form>
    </q-card>
  </q-dialog>
</template>

<script lang="ts">
import { Options, Vue } from "vue-class-component";
import { Person, PersonRole } from "@/models/person";
import { PersonService } from "@/services/person-service";
import { QDialog } from "quasar";
import { validate } from "email-validator";

@Options({
  name: "CreatePersonDialog",
  emits: ["ok", "hide"],
  props: ["personRole", "personService"],
})
export default class CreatePersonDialog extends Vue {
  public PersonRoles = PersonRole;

  personService!: PersonService;
  personRole!: PersonRole;

  email = "";
  firstName = "";
  lastName = "";

  show(): void {
    (this.$refs.dialog as QDialog).show();
  }

  hide(): void {
    (this.$refs.dialog as QDialog).hide();
  }

  onHide(): void {
    this.$emit("hide");
  }

  async onOK(): Promise<void> {
    let result = await this.savePerson();
    this.$emit("ok", result);
    this.hide();
  }

  onCancel(): void {
    this.hide();
  }

  async savePerson(): Promise<Person | false> {
    try {
      const result = await this.personService.createOne({
        firstName: this.firstName,
        lastName: this.lastName,
        email: this.email,
        role: this.personRole,
      });

      if (result) {
        return result;
      } else {
        return false;
      }
    } catch (e) {
      console.log(e);
      return false;
    }
  }

  isEmail(email: string): boolean {
    return validate(email);
  }
}
</script>

<style lang="scss" scoped></style>
