<!--
  -- NotesLog Component
  --
  -- Displays the list of contact notes from the entriesStore, or a 'No Matching
  -- records' message.  There is a huge potential for XSS in this component because
  -- 'text-html' is set to 'true', and we are displaying user-entered input.  But,
  -- since this isn't a real application, we're going to let it slide.
  -->
<template>
  <q-card class="col-8 q-ma-lg" v-if="entriesStore.getState().items.length > 0">
    <q-card-section class="bg-accent text-secondary"> Contacts </q-card-section>
    <q-card-section
      class="bg-secondary text-accent"
      v-if="entriesStore.getState().items.length > 0"
    >
      <q-chat-message
        v-for="e of entriesStore
          .getState()
          .items?.sort((a, b) => a.createTimestamp - b.createTimestamp)"
        v-bind:key="e.id"
        :text="[e.content]"
        :stamp="e.createTimestamp"
        :name="`<b>from:</b> ${e.user.firstName} ${e.user.lastName}  <b>to:</b> ${e.contact.firstName} ${e.contact.lastName}`"
        :text-html="true"
        :name-html="true"
      />
    </q-card-section>
    <q-card-section class="bg-secondary text-accent" v-else>
      <div class="full-width text-center">No entries found.</div>
    </q-card-section>
  </q-card>
</template>

<script lang="ts">
import { Options, Vue } from "vue-class-component";
import { entriesStore } from "@/store";
import { Person } from "@/models/person";

@Options({
  name: "NotesLog",
  props: ["selectedUser", "selectedContact"],
})
export default class NotesLog extends Vue {
  selectedUser!: Person | null;
  selectedContact!: Person | null;

  entriesStore = entriesStore;
}
</script>
