<!--
  -- PersonSelector Component - receives a PersonStore (Users or Contacts) - and displays the
  -- list of users in that store as a dropdown.  Also allows creation of a new person if 'allow-create'
  -- prop is set to true (default).
  --
  -- @prop store PersonStore - The store from which to display users.
  -- @prop person-type PersonRole - The type of user that this dropdown is displaying.
  -- @prop allow-create boolean - Whether or not new Person object of person-type can be created.
  -- @v-model selection Person - The selected Person or null.
  -->

<template>
  <q-select
    class="col-4"
    :options="store.state.items"
    filled
    :clearable="true"
    :label="`Select a ${
      personType === PersonRole.USER ? 'Canvasser' : 'Contact'
    }`"
    :option-label="(opt) => `${opt.firstName} ${opt.lastName}`"
    v-bind:model-value="selection"
    v-on:update:model-value="
      (ev) => {
        selection = ev;
        $emit('update:selection', selection);
      }
    "
  >
    <template v-slot:append v-if="allowCreate">
      <q-btn round dense flat icon="add" @click.stop="showCreatePersonDialog">
        <q-tooltip
          >Add a
          {{
            personType === PersonRole.USER ? "Canvasser" : "Contact"
          }}</q-tooltip
        >
      </q-btn>
    </template>
  </q-select>
</template>

<script lang="ts">
import { Options, Vue } from "vue-class-component";
import { Person, PersonRole } from "@/models/person";
import CreatePersonDialog from "@/components/CreatePersonDialog.vue";
import { PersonService } from "@/services";
import { inject } from "vue";
import { PersonStore } from "@/store";

@Options({
  name: "PersonSelector",
  props: ["store", "personType", "allowCreate"],
  emits: ["update:selection"],
})
export default class PersonSelector extends Vue {
  store!: PersonStore;
  personType!: PersonRole;
  selection: Person | null = null;

  allowCreate = true;

  PersonRole = PersonRole;
  personService: PersonService | undefined = inject("personService");

  showCreatePersonDialog(): void {
    this.$q
      .dialog({
        title: "Add Person",
        message: `Enter the name of the ${
          this.personType === PersonRole.USER ? "canvasser" : "contact"
        } to add: `,
        prompt: {
          model: "",
          type: "text",
        },
        cancel: true,
        persistent: false,
        component: CreatePersonDialog,
        componentProps: {
          personRole: this.personType,
          personService: this.personService,
        },
      })
      .onOk((created: Person) => {
        this.store.setPersons([...this.store.getState().items, created]);
        this.selection = created;
        this.$emit("update:selection", created);
      });
  }
}
</script>
